* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/bkg-9.jpg');
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, arial, sans-serif;
}

#login_form {
  width: 300px;
  background: #edeff1;
  margin: 180px auto 0;
  border-radius: 6px;
  padding: 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6spx;
}

#login_form h1, .register h3 {
  color: #000;
}

h1,h2,h3,h4,h5 {
  margin-top: 0;
  font-family: "Lato", Helvetica, arial black, arial;
  text-align: center;
  color: #FFF;
}

input[type=text], input[type=password] {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 2;
  width: 100%;
  text-indent: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
}

input[type=text]:focus, input[type=password]:focus {
  border: 2px solid rgba(26, 188, 156, 1);
  outline: none;
}

input[type=submit], form a {
  border: none;
  margin-top: 20px;
  margin-right: 1em;
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: #1abc9c;
  color: #FFF;
}

input[type=submit]:hover, form a:hover {
  background: #19B596;
  cursor: pointer;
}

.error {
  color: #393939;
  font-size: 15px;
}

.register {
  width: 300px;
  background: #edeff1;
  margin: 0 auto;
  border-radius: 6px;
  padding: 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6spx;
}

#login-register-redirect {
  position: fixed;
  right: 0;
  margin-right: 10px;
  top: 0;
  color: #FFF;
}

#login-register-redirect a {
  color: #1abc9c;
}

#login-register-redirect a:hover {
  color: #FFF;
}

.logout-button a {
  color: #FFF;
  text-decoration: none;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}

.logout-button a:hover {
  color: #000;
  background: #FFF;
}
