* {
  box-sizing: border-box;
}

body {
  background: #b6b6b6;
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, arial, sans-serif;
}

#login_form {
  width: 300px;
  background: #edeff1;
  margin: 180px auto 0;
  border-radius: 6px;
  padding: 20px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6spx;
}

h1,h2,h3,h4,h5 {
  margin-top: 0;
  font-family: "Lato", Helvetica, arial black, arial;
  text-align: center;
}

input[type=text], input[type=password] {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  line-height: 2;
  width: 100%;
  text-indent: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
}

input[type=submit], form a {
  border: none;
  margin-top: 20px;
  margin-right: 1em;
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: #1abc9c;
  color: #FFF;
}

input[type=submit]:hover, form a:hover {
  background: #287368;
  cursor: pointer;
}

.error {
  color: #393939;
  font-size: 15px;
}

fieldset {
  width: 300px;
  margin: auto;
  margin-bottom: 2em;
  display: block;
}

h1 {
  text-shadow: 0 1px 0 white;
}
